html,
body {
  padding: 0;
  margin: 0;
  background: #b99f6c;
}
#map {
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
#export {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  top: 10px;
}
#fileInput {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 1;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  top: 10px;
}
